*{
padding: 0;
margin: 0;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    color: aquamarine;
}
.header-right {
float: right;
}
form{
margin: 0 auto;
width: 30vw;
}
h1{
    margin: 0 auto;
    width: 20vw;
    padding: 50px;
}

button{
    background-color: green;
    border-radius: 4px;
    font-size: 28px;
    color: white;
    height: 40px;
    width: 100px;
    
}
div{
padding: 20px;
}
label{
    font-size: 25px;
}


